/*--------------------------------------------------------------
>>> TABLE OF CONTENTS Main CSS Documentation:
----------------------------------------------------------------
1.0 Page
2.0 Cover
3.0 Custom
--------------------------------------------------------------*/

// 1.0 Page
.picturefill-background {
  width: 100%;
  height: 100%;
  position: absolute;
  background-position: 50% 100% !important;
}

.page {
  position: relative;
  &__bg{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  &__4{    
    .text__top{
      @include min-responsive($sm){
        margin-top: -10vw;
      }
      @include max-responsive($sm){
        margin-top: -70vw;
      }
    }
  }
  
  &__6{
    
    .title{
      text-align: center;
      @include min-responsive($sm){
        margin-top: -20vw;
        font-size: 2em;
      }
      @include max-responsive($sm){
        margin-top: -40vw;
      }
    }
    
  }

  &__11{

    h3{
      color: $white;
    }
  }

  &__12{
    .title{
      @include min-responsive($sm){
        font-size: 1.8em;
        margin-top: -10vw;
      }
    }
  }

  &__20, &__21{
    .text{
      @include min-responsive($sm){
        font-size: 18px;
      }
    }
  }

  &__25{
    .text{
      font-size: 22px;
    }
  }

  &__26{
    .content {
      text-align: left;
      margin-top: -20vw;
      margin-left: -6vw;
      font-size: 1.3em;

      @include max-responsive($sm){
        text-align: left;
        margin-top: -80vw;
        margin-left: 0;
        font-size: 1em;
      }

      h1{
        color: #73382B;
      }
    }
  }

  &__32{
    .content{
      color: #73382B;  
      @include max-responsive($sm){
        font-size: 1.6em;
      }   
    }
  }

  &__33{
    .title{
      text-align: center;
      @include min-responsive($sm){
        margin-top: -20vw;
        font-size: 1.5em;
      }
      @include max-responsive($sm){
        margin-top: -40vw;
      }
    }
  }
  
  &__39{
    .content{
      color: #73382B;   
      font-size: 3.6em;   
      @include max-responsive($sm){
        font-size: 2em;
      }
    }
  }
  
  &__40{
    .content{
      h2{
        font-size: 3em;
        @include max-responsive($sm){
          font-size: 1.8em;
        }
      }
    }
  }

  &__animation {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;

    img {
      position: absolute;
      bottom: 0;
      left: 0;
    }

    &__cover{ 
      // position: relative;
      &--awan{
        animation: swing 9s infinite alternate;
      }
      &--awan2{
        animation: swingReverse 9s infinite alternate;
      }
      &--build{
        &-3{
          display: none;
        }
        &-4{
          display: none;
        }
        &-stats{
          opacity: 0;
        }
      }
      &--text{
        display: none;
        .text__top{
          @include min-responsive($sm){
            margin-top: -10vw;
          }
          @include max-responsive($sm){
            margin-top: -70vw;
          }
        }
      }
      .kincir{
        
        &__1{
          height: 220px;
          width: 110px;
          position: absolute;
          left: calc(35% - 20px);
          bottom: calc(18% - 0px);
          @include max-responsive($sm){
            bottom: calc(5% - 0px);
            left: calc(53% - 20px);
          }
        }

        &__2{
          height: 220px;
          width: 110px;
          transform: scale(0.7);
          position: absolute;
          right: calc(10% - 10px);
          bottom: calc(18% - 0px);
          @include max-responsive($sm){
            bottom: calc(5% - 0px);
            display: none;
          }
        }

        &__item{          
          &--1{
            left: -7px;
            bottom: 105px;
            animation: rotating 3s linear infinite;
            width: 130px;
          }
          &--2{
            width: 70px;
            left: -22px;
            bottom: 76px;
            animation: rotating 5s linear infinite;
          }
          &--3{
            width: 70px;
            left: 39px;
            bottom: 42px;
            animation: rotating 4s linear infinite;
          }         
        }
      }
      #animationRegulasi{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 2;

        @include max-responsive($sm){
          height: auto;
          left: auto;
          height: auto;
          width: 110%;
          bottom: 0;
          right: 17%;
          top: auto;
        }
      }
    }

    &__rec{
      
      &--serti{
        &-1,&-2,&-3,&-4,&-5{
          display: none;
        }
      }

      .kincir{

        &__3{
          height: 220px;
          width: 110px;
          position: absolute;
          right: calc(24% - 11px);
          bottom: calc(27% - 0px);
          @include max-responsive($sm){
            display: none;
          }
        }

        &__item{          
          &--1{
            left: -7px;
            bottom: 105px;
            animation: rotating 3s linear infinite;
            width: 130px;
          }
          &--2{
            width: 70px;
            left: -22px;
            bottom: 76px;
            animation: rotating 5s linear infinite;
          }
          &--3{
            width: 70px;
            left: 39px;
            bottom: 42px;
            animation: rotating 4s linear infinite;
          }         
        }
      }
    }

    &__list{
      &--tower, &--towerlight{
        @include min-responsive($sm){
          left: 30%;
          bottom: -5%;
        }
        @include max-responsive($sm){
          bottom: -22%;
        }
      }
    }

    &__kilang{
      &--building2{
        bottom: -100%;
      }
      &--buildingasap{
        -webkit-animation: flash 2s alternate infinite;
        -moz-animation: flash 2s alternate infinite;
        animation: flash 2s alternate infinite;
      }
    }

    &__invest{
      &--awan{
        left: 20%;
      }
      &--coin{
        left: 100%;
      }
      &--build{
        left: 100%;
      }
      &--text2{
        top: 100%;
        .text{
          font-size: 20px;
          margin-top: -15vw;
          @include max-responsive($sm){
            font-size: 15px;
            margin-top: -22vw;
          }
        }
      }
      &--text3{
        top: 100%;
        .text{
          font-size: 22px;
          margin-top: -8vw;
          @include max-responsive($sm){
            font-size: 15px;
            margin-top: -10vw;
          }
        }
      }
    }   
    
    &__outlet{
      &--bubble{
        display: none;
      }
      &--bubble2{
        opacity: 0;
      }
      &--booth{
        bottom: -2vw;
      }
      &--loop, &--loopMobile, .loop{
        bottom: -100%;
      }
      .loop{
        height: 530px;
        width: 600px;
        position: absolute;
        left: 0;

        .text-wrapper{
          
          .content{
            position: absolute;
            min-height: 300px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            width: 320px;
            text-align: center;
            right: calc(14% - 10px);
            top: calc(15% - 0px);
          }

          // &--1{
          //   display: none;
          // }
          &--2{
            display: none;
          }
          &--3{
            display: none;
          }
          &--4{
            display: none;
          }
        }
      }
    }

    &__skema{ 
      &--content{
        background-size: contain !important;
      }
    }

    &__potensi{
      .kincir{
        
        &__4{
          height: 220px;
          width: 110px;
          position: absolute;
          left: calc(30% - 20px);
          bottom: calc(20% - 0px);
        }

        &__5{
          height: 220px;
          width: 110px;
          transform: scale(0.7);
          position: absolute;
          right: calc(13% - 10px);
          bottom: calc(21% - 0px);
        }

        &__item{          
          &--1{
            left: -7px;
            bottom: 105px;
            animation: rotating 3s linear infinite;
            width: 130px;
          }
          &--2{
            width: 70px;
            left: -22px;
            bottom: 76px;
            animation: rotating 5s linear infinite;
          }
          &--3{
            width: 70px;
            left: 39px;
            bottom: 42px;
            animation: rotating 4s linear infinite;
          }         
        }
      }
    }

    &__pabrik{
      &--text{
        opacity: 0;
      }
    }

    &__air{
      &--text{
        opacity: 0;
      }
    }

    &__surya{
      &--text{
        opacity: 0;
      }
    }

    &__bayu{
      &--text{
        opacity: 0;
      }
    }

    &__ombak{
      &--text{
        opacity: 0;
      }
      .content-graph{
        @include min-responsive($sm){
          margin-top: -5vw;
        }
        @include max-responsive($sm){
          margin-top: -80vw;
        }
      }
    }

  }

  &__static {
    position: fixed;
    top: 0;
    left: 0;
    @include display_full;
    @include transition(0.7s);    

    &__cover{
      top: 0;

      .overlay__halfblack{
        display: none;
      }
            
    }

    &__pembangkit{
      top: 100%;
      background: #668079;
    }

    &__credit{
      top: 100%;
    }

    &__outlet{
      top: 100%;
      background: #D8CB8B;

      .bottom-bg {
        position: absolute;
        width: 100%;
        height: 30%;
        background: #D0AC8A;
        bottom: 0;
        @include max-responsive($sm){
          height: 15%;
        }
      }
    }

    &__listrik{
      background: #D8CB8B;
      .bottom-bg {
        position: absolute;
        width: 100%;
        height: 30%;
        background: #D0AC8A;
        bottom: 0;
        @include max-responsive($sm){
          height: 15%;
        }
      }
    }

    &__skema{
      top: 100%;      
    }
    
    &__potensi{
      top: 100%;
    }
    
    &__pabrik{
      top: 100%;
      background: #FF7262;
    }
    
    &__air{
      top: 100%;
      background: #72BDBA;
    }
    
    &__surya{
      top: 100%;
      background: #FFB533;
    }
    
    &__bayu{
      top: 100%;
      background: #8CB596;
    }
    
    &__ombak{
      top: 100%;
      background: #177D8F;
    }

    &__energi{
      top: 100%;
      background: linear-gradient(to bottom, rgba(240,196,81,1) 0%, rgba(230,242,92,1) 100%);
      .bg-color{
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;       

        &--1{
          opacity: 0.6;
          background: linear-gradient(to bottom, rgba(240,196,81,1) 0%, rgba(230,242,92,1) 100%);
        }
        &--2{
          opacity: 0.9;
          background: linear-gradient(to bottom, rgba(81,163,240,1) 0%, rgba(240,196,81,1) 100%);
          display: none;
        }
        &--3{
          opacity: 0.8;
          background: linear-gradient(to bottom, rgba(81,163,240,1) 0%, rgba(167,181,154,1) 100%);
          display: none;
        }
        &--4{
          opacity: 0.9;
          background: linear-gradient(to bottom, rgba(13,68,120,1) 0%, rgba(22,103,178,1) 100%);
          display: none;
        }
      }
    }
    
    &__pembangkit{
      top: 100%;
      background: linear-gradient(180deg, #E6F25C 0%, #F0C451 21.55%, #51A4F0 38.46%, #1667B3 60.56%, #0D4478 74.88%, #03121F 91.66%);
    }
    
    &__credit{
      top: 100%;
      background: linear-gradient(180deg, #E6F25C 0%, #F0C451 12.82%, #51A4F0 38.46%, #1667B3 60.56%, #0D4478 74.88%, #03121F 91.66%);
    }
  }

  &__image {
    @include display_full;
    opacity: 1;
    position: absolute;
    top: 0;
    left: 0;
  }

  &__color{
    @include display_full;
    position: fixed;
    top: 0;
    left: 0;
    transition: all 1s ease;

    .item{
      @include display_full;      
    }

    &--soon{
      @include gradientBlue;     
    }

    &--evening{
      @include gradientOrange;  
    }

    &--night{
      @include gradientOrange;
    }

    &--blue{
      background: #668079;
    }

  }
  
  .label{
    background: url(../images/label.png) no-repeat;
    background-size: cover;
    padding: 10px;
    width: 60%;
    margin: auto;
    color: black;

    @include max-responsive($sm){
      width: 100%;
      background-size: 100% 100%;
    }
  } 
}


.page-wrapper {

  @include max-responsive($sm){
    padding: 70px 0px !important;
  }
  
}

// 2.0 Cover
.cover {
  // position: relative;
  // overflow: hidden;
  // @include gradientBlue;
  // background: linear-gradient(90deg, #62B8CC, #36A1B7);
  // background-size: 400% 400%;
  // -webkit-animation: AnimationName 17s ease infinite;
  // -moz-animation: AnimationName 17s ease infinite;
  // animation: AnimationName 17s ease infinite;

  @-webkit-keyframes AnimationName {
      0%{background-position:82% 0%}
      50%{background-position:19% 100%}
      100%{background-position:82% 0%}
  }
  @-moz-keyframes AnimationName {
      0%{background-position:82% 0%}
      50%{background-position:19% 100%}
      100%{background-position:82% 0%}
  }
  @keyframes AnimationName {
      0%{background-position:82% 0%}
      50%{background-position:19% 100%}
      100%{background-position:82% 0%}
  }
  
  &__title{
    color: $white;
    font-size: 2em;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 20;
    margin: auto;
    text-align: center;
    
    @include max-responsive($sm){
      font-size: 1.2em;
      position: absolute;
      left: 0;
      right: 0;
      text-align: center;
      top: 20%;
    }
    
    @include min-responsive($sm){
      top: 10%;
      width: 40%;
    }

    h1{
      color: $yellow;
    }
  }

  &__content{

    &__item{
      position: absolute;
      bottom: 0;
    }
  }
}

// 3.0 Custom General

.text-popout {
  background: $white;
  color: $black;
  border-radius: 12px;
  padding: 14px;
  min-height: 83px;
  font-weight: 700;
  font-size: 1.3em;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;  

  @include min-responsive($sm){
    width: 400px;    
  }
  @include max-responsive($sm){
    width: 300px;    
  }
  
  span{
    position: absolute;
    top: -20px;
    left: -10px;
    background: yellow;
    padding: 10px;
    border-radius: 50%;
    height: 40px;
    width: 40px;
  }
  
  &--1{
    left: 0;
    right: 0;
    margin: auto;
    @include max-responsive($sm){
      margin-top: -60vw;  
    }
  }
  
  &--2{
    left: 0;
    right: 0;
    margin: -20vw auto 0px;
    @include max-responsive($sm){
      margin-top: -60vw;  
    }
  }
  
  &--3{
    left: 0;
    right: 0;
    margin: auto;
    @include max-responsive($sm){
      position: absolute;
      top: 40vw;
    }
  }

}

.text-highlight{
  position: relative;
  text-align: left;
  @include min-responsive($sm){
    margin-top: -11vw;
  }
  &::before {
    content: '';
    position: absolute;
    top: -16px;
    left: 10px;
    background: $yellow;
    height: 11px;
    width: 80px;
  }
}

.text-zoom{
  position: absolute;
  min-height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 320px;
  
  @include max-responsive($sm){
    width: 250px;
    margin: 38vw auto 0px;
    left: auto;
    bottom: auto;
    position: relative;
  }

  &--1, &--2{
    left: calc(100% - 54vw);
    bottom: calc(100% - 13vw);
    @include max-responsive($sm){
      left: auto;
      bottom: auto;      
    }
  }

  &--3, &--4{
    position: relative;
    left: 10vw;
    bottom: -4vw;
    @include max-responsive($sm){
      left: auto;
      bottom: auto;      
    }
  }
  
  .text{
    color: $black; 
    font-weight: bold;   
  }
}

.text-job{
  text-align: left;
}

.content-graph{
  color: $white;
  @include max-responsive($sm){
    margin-top: -68vw;
  }
  .title{
    font-size: 4em;
    font-weight: bold;
    @include max-responsive($sm){
      font-size: 2.5em;
    }
  }
  .stats{
    border-radius: 16px;
    padding: 10px;
    text-align: center;
    margin: auto;
    @include min-responsive($sm){
      width: 320px;
    }
    @include max-responsive($sm){
      width: auto;
    }    
    h1{
      color: $white;    
      font-size: 3em;   
      @include max-responsive($sm){
        font-size: 2em;
      }
    }
    p{
      color: $yellow;
      margin-bottom: 0px;
      font-size: 1.6em;
    }
    &--red{
      background: #CE0F00;
    }
    &--tosca{
      background: #0D7A7F;
    }
    &--yellow{
      background: #EF6F06;
    }
    &--green{
      background: #589965;
    }
    &--blue{
      background: #003B4F;
    }
  }
  .detail{
    color: $white;    
    font-size: 1.6em;
    margin-top: 24px;
    @include max-responsive($sm){
      font-size: 1.2em;
    }
  }
  &--red{
    .title{
      color: #CE0F00;
    }
  }
  &--tosca{
    .title{
      color: #0D7A7F;

    }
  }
  &--yellow{
    .title{
      color: #EF6F06;
    }
  }
  &--green{
    .title{
      color: #0D7A7F;
    }
  }
  &--blue{
    .title{
      color: #003B4F;
    }
  }
}

.data {
  @include max-responsive($sm){
    width: 80%;
    margin: auto;
    margin-top: 0vw;
  }
}

.content-area {
  display: flex;
  flex: 1;
  margin-top: 30px;

  .item{
    flex: 1;
    &:first-child{
      flex: 2;
    }
    &:last-child{
      flex: 2;
    }
    p{
      font-size: 1.6em;
      @include max-responsive($sm){
        font-size: 1.2em;
      }
    }
    h1{
      @include max-responsive($sm){
        font-size: 1.3em;
      }
    }
  }
}

.credit{
  &__item{
    text-align: center;
    margin-bottom: 30px;
    font-size: 1.6em;
    @include max-responsive($sm){
      font-size: 1.3em;
    }
    &--title{
      font-weight: bold;
    }
  }
}

.scroll-down {
  position: absolute;
  bottom: 15%;
  right: 5%;
  margin: auto;
  width: 40px;
  z-index: 3;
  color: $white;
}

#animationPabrik{
  position: absolute;
  bottom: -20px;
  margin: 0 auto;
  left: 0;
  right: 0;        
  width: 100%;
  @include max-responsive($sm){
    width: 200%;
    left: -90%;
  }
}

#animationKilang{
  position: absolute;
  bottom: 0;
  margin: 0 auto;
  left: 0;
  right: 0;        
  width: 100%;
  @include max-responsive($sm){
    width: 200%;
    left: -50%;
  }
}