/*--------------------------------------------------------------
>>> TABLE OF CONTENTS Main CSS Documentation:
----------------------------------------------------------------
1.0 Page
2.0 Cover
3.0 Custom
--------------------------------------------------------------*/

// 1.0 Page

body{
  // @include gradientBlue; 
}

.picturefill-background {
  width: 100%;
  height: 100%;
  position: absolute;
  background-position: 50% 100% !important;
}

.page {
  position: relative;
  &__bg{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  &__2{
    
  }
  
  &__4{    
    .text__top{
      @include min-responsive($sm){
        margin-top: -10vw;
      }
      @include max-responsive($sm){
        margin-top: -70vw;
      }
    }
  }
  
  &__6{
    
    .title{
      text-align: center;
      @include min-responsive($sm){
        margin-top: -20vw;
        font-size: 2em;
      }
      @include max-responsive($sm){
        margin-top: -40vw;
      }
    }
    
  }
  
  &__9{
    
  }

  &__10{
    
  }

  &__11{

    h3{
      color: $white;
    }
  }

  &__12{
    .title{
      @include min-responsive($sm){
        font-size: 1.8em;
        margin-top: -10vw;
      }
    }
  }

  &__13{
    
  }

  &__14{
    
  }

  &__animation {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;

    img {
      position: absolute;
      bottom: 0;
      left: 0;
    }

    &__cover{ 
      &--awan{
        animation: swing 25s infinite alternate;
      }
      &--awan2{
        animation: swingReverse 25s infinite alternate;
      }
      &--build{
        &-3{
          display: none;
        }
        &-4{
          display: none;
        }
        &-stats{
          opacity: 0;
        }
      }
      &--text{
        display: none;
        .text__top{
          @include min-responsive($sm){
            margin-top: -10vw;
          }
          @include max-responsive($sm){
            margin-top: -70vw;
          }
        }
      }
    }

    &__rec{
      
      &--serti{
        &-1,&-2,&-3,&-4,&-5{
          display: none;
        }
      }
    }

    &__list{
      &--tower{
        left: 47%;
        bottom: -5%;
        @include max-responsive($sm){
          bottom: -15%;
        }
      }
    }

    &__kilang{
      &--building2{
        bottom: -100%;
      }
    }

  }

  &__static {
    position: fixed;
    top: 0;
    left: 0;
    @include display_full;
    @include transition(0.7s);    

    &__cover{
      top: 0;

      .overlay__halfblack{
        display: none;
      }
            
    }

    &__pembangkit{
      top: 100%;
      background: #668079;
    }

    &__credit{
      top: 100%;
    }

  }

  &__image {
    @include display_full;
    opacity: 1;
    position: absolute;
    top: 0;
    left: 0;
  }

  &__color{
    @include display_full;
    position: fixed;
    top: 0;
    left: 0;
    
    .item{
      @include display_full;      
    }

    &--soon{
      @include gradientBlue;     
    }

    &--evening{
      @include gradientOrange;  
    }

    &--night{
      @include gradientOrange;
    }

    &--blue{
      background: #668079;
    }

  }
  
  .label{
    background: url(../images/label.png) no-repeat;
    background-size: cover;
    padding: 10px;
    width: 60%;
    margin: auto;
    color: black;

    @include max-responsive($sm){
      width: 100%;
      background-size: 100% 100%;
    }
  }  

  .credit{
    position: relative;
    color: $white;
    height: 90vh;
    font-weight: 500;

    @include max-responsive($sm){
      height: auto;
      text-align: center;
    }

    &__content{
      
      &--logo{
        margin: 30px auto;
      }

      &__item{
        margin-bottom: 20px;
        
        &--title{
          color: #D6C45D;
          margin-bottom: 5px;
          font-size: 17px;
        }
        
        &--name{
          margin-bottom: 5px;
          font-size: 16px;
        }
      }
    }

    &__bg{
      position: absolute;
      right: 0;
      bottom: 0;
    }
  }
}


.page-wrapper {

  @include max-responsive($sm){
    padding: 70px 0px !important;
  }
  
}

// 2.0 Cover
.cover {
  // position: relative;
  // overflow: hidden;
  // @include gradientBlue;
  // background: linear-gradient(90deg, #62B8CC, #36A1B7);
  // background-size: 400% 400%;
  // -webkit-animation: AnimationName 17s ease infinite;
  // -moz-animation: AnimationName 17s ease infinite;
  // animation: AnimationName 17s ease infinite;

  @-webkit-keyframes AnimationName {
      0%{background-position:82% 0%}
      50%{background-position:19% 100%}
      100%{background-position:82% 0%}
  }
  @-moz-keyframes AnimationName {
      0%{background-position:82% 0%}
      50%{background-position:19% 100%}
      100%{background-position:82% 0%}
  }
  @keyframes AnimationName {
      0%{background-position:82% 0%}
      50%{background-position:19% 100%}
      100%{background-position:82% 0%}
  }
  
  &__title{
    color: $white;
    font-size: 2em;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 20;
    margin: auto;
    text-align: center;
    
    @include max-responsive($sm){
      font-size: 1.2em;
      position: absolute;
      left: 0;
      right: 0;
      text-align: center;
      top: 20%;
    }
    
    @include min-responsive($sm){
      top: 10%;
      width: 40%;
    }

    h1{
      color: $yellow;
    }
  }

  &__content{

    &__item{
      position: absolute;
      bottom: 0;
    }
  }
}

// 3.0 Custom General

.text-popout {
  background: $white;
  color: $black;
  border-radius: 12px;
  padding: 14px;
  font-weight: 700;
  font-size: 1.3em;
  position: absolute;  

  @include min-responsive($sm){
    width: 400px;    
  }
  @include max-responsive($sm){
    width: 300px;    
  }

  span{
    position: absolute;
    top: -20px;
    left: -10px;
    background: yellow;
    padding: 10px;
    border-radius: 50%;
    height: 40px;
    width: 40px;
  }

  &--1{
    left: 0;
    right: 0;
    margin: auto;
  }
  
  &--2{
    left: 0;
    right: 0;
    margin: -20vw auto 0px;
  }

}

.text-highlight{
  position: relative;
  text-align: left;
  @include min-responsive($sm){
    margin-top: -11vw;
  }
  &::before {
    content: '';
    position: absolute;
    top: -16px;
    left: 10px;
    background: $yellow;
    height: 11px;
    width: 80px;
  }
}

.scroll-down {
  position: absolute;
  bottom: 15%;
  right: 5%;
  margin: auto;
  width: 40px;
  z-index: 3;
  color: $white;
}
